#sideMenu,
#top_title {
    display: none;
    width: 0px;
}

#content {
    width: 100%;
    padding: 0px;
    border: none;
    color: black;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    position: relative;
}

#globalWrapper {
    padding-bottom: 0;
}

#top_menu_under {
    height: 0px;
}

#top_menu_14 {
    height: 22px;
}

@font-face {
    font-family: "Seg";
    src: url(http://2017.igem.org/wiki/images/c/ce/T--Washington--SegoeUIL.ttf) format("TrueType");
}

#HQ_page h1, h2, h3, h4, h5 {
     font-family: Seg,Roboto,"Helvetica Neue",Arial,sans-serif;
     font-weight: normal;
}

#HQ_page p {
     font-family: Seg, Roboto, "Helvetica Neue", Arial, sans-serif;
     text-align: left;
     font-size: 1.25rem;
}

#top_menu_inside #user_item {
  float: left;
  padding-top: 0px;
  margin-right: none;
}

ul {
    list-style-image: none;
}

@font-face{
    font-family: "Abel";
    src: url(http://2017.igem.org/wiki/images/7/7d/T--Washington--AbelFont.TTF) format("TrueType");
}



.mainBodypic {
  position: relative;
  color: white;
  margin-top: -16px;
  height: 100vh;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
}

.patternOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
    opacity: .4;
    background: #000;
    background: url("pattern.png");
}

.mainBody {
  position: relative;
  vertical-align: center;
  text-align: center;
  z-index: 3;
  top: 44%;
}

.mainNav {
  /*background-color: #4B2E83; */
  background:linear-gradient(135deg, #330066 30%, #4B2E83 30%, #4B2E83 40%); 
  min-width: 420px;
  padding-bottom: 10px;
}

/*.subPageIdentifier {
  margin-bottom: 80px;
}*/

.titleBar {
  margin-bottom: 0px;
  padding-top: 3%;
  padding-bottom: 3%;
}

#customNavbar {
  margin-top: 0px;
  margin-bottom: 0px;
}

.bottomBar {
  padding-top: 50px;
  padding-bottom: 50px;
}

.dropdown-menu {
  margin-top: -1px;
}

.abelFont {
  font-family: Abel;
  font-size: 20px;
}

.jump:before { 
  display: block; 
  content: " "; 
  margin-top: -65px; 
  height: 65px; 
  visibility: hidden; 
}

html, body {
    margin: 0px;
}

html {
  background-color: #343A40;
}

body {
  background-color: white;
  position: relative;
}

button {
  display: inline-block;
  position: relative;
  margin-bottom: 2px;
  padding: 10px;
  background: #4B2E83;
  border: none;
  text-decoration: none;
  color: white;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  outline: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #cfcfcf;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  cursor: pointer;
  color: black;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}