@font-face{
    font-family: "Abel";
    src: url(T--Washington--abelFont.ttf) format("TrueType");
}

.mainBodypic {
	color: white; 
	text-align: left; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 10%;
	padding-left: 5%;
	width: 100%;
}

.mainNav {
	background-color: #4B2E83; 
	padding-bottom: 10px
}

.bottomBar {
	padding-top: 50px;
	padding-bottom: 50px;
}

.dropdown-menu {
	margin-top: -1px;
}

.abelFont {
	font-family: Abel;
	font-size: 20px;
}

.jump:before { 
  display: block; 
  content: " "; 
  margin-top: -65px; 
  height: 65px; 
  visibility: hidden; 
}

html {
	background-color: #343A40;
}

body {
	background-color: white;
}